{% extends "base.html" %}
{% block body_block %}
{% load static %}
<div class="container pt-5">



<div class="input-group input-group-lg">
  <span class="input-group-text" id="inputGroup-sizing-lg">Svojstva za:</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="{{ video.video_name }}" id="ime">
</div>

<div class="container pt-5">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createvideo">Dodaj video fajl</button>
<a href="{% url 'startube:video_admin' %}" class="btn btn-secondary">Nazad</a>

<table class="table table-hover pt-5">
  <thead>
    <tr>
      <th scope="col">Naziv fajla</th>
      <th scope="col">Kodek</th>
      <th scope="col">Trajanje (s)</th>
      <th scope="col">Dimenzije</th>
      <th scope="col">Original</th>
      <th scope="col">Edit</th>
      <th scope="col">Obriši</th>
    </tr>
  </thead>
  <tbody>
  {% for asset in assets %}
   <tr>
      <td>{{ asset.asset_name }}</td>
      <td>{{ asset.asset_codec }}</td>
      <td>{{ asset.asset_duration|floatformat:2}}</td>
      <td>{{ asset.asset_dimension_x }}x{{ asset.asset_dimension_y }}</td>
      <td>{{ asset.asset_original }}</td>
      <td><a href="#"><img src="{% static 'images/pencil-square.svg' %}" /></a></td>
      <td><a href="{% url 'startube:remove_asset' asset.id %}" onClick="return confirm('Ovim brises i video fajl. Si siguran?')"><img src="{% static 'images/trash.svg' %}" /></a></td>
    </tr>
    {% empty %}
<div class="pt-5">Nema nijedan video fajl. Možda da dodaš neki?</div>
    {% endfor %}
   </tbody>
</table>


<!--modal za dodavanje asseta-->
    <div class="modal fade" id="createvideo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pretragaModalLabel">Dodaj video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zatvori"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                <div class="modal-body" id="addition">

                        {% csrf_token %}
<!--                    ovde dodajem-->
                    {{ form.as_p }}
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
                    <input type="submit" class="btn btn-primary" value="Dodaj">

                  </div>
                </form>
            </div>
        </div>
    </div>
<!--modal za dodavanje asseta-->
<!-- modal za brisanje asseta -->
<div class="modal fade" id="removeAssetModal" tabindex="-1" role="dialog" aria-labelledby="removeAssetModal1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--modal za brisanje asseta    -->
</div>
</div>


<script>
// odjava
   $("#ime").on("keydown", function(e){
        if(e.which == 13){
            let cell = $(this).closest('input').attr('value');
            console.log(cell);
            const xhr = new XMLHttpRequest();
            xhr.open("GET", window.location.href+cell);
            xhr.send();
            }
        });
   $("#ime").on("blur", function(e){
            let cell = $(this).closest('input').attr('value')
            const xhr = new XMLHttpRequest()
            console.log(cell);
            xhr.open("GET", window.location.href+cell);
            xhr.send();

        });
</script>
{% endblock  %}